FORMAT: 1A
HOST: https://api.homecredit.cz/banking/v1

# Home Credit PSD2 API

This is documentation of the Home Credit PSD2 API.

## Getting started
This online document describes REST API that provides access to Home Credit customer's data.

The aim of here described resources is to allow third party application to work with data of the clients that agree with it. The resources that allow achieving this goal are divided into the following groups:

| Group of resources                      | Purpose                       |
| ---                                     | ---                           |
| [Security](#reference/security)         | Security rules and principles |
| [My contracts](#reference/my-contracts) | Customer's data resources     |

## Naming conventions
- we use camelCase for all object and attribute names
- we use CAPITAL_UNDERSCORE for enum values
- we use plural in resource names

## Paging
- some resources (stated in documentation) that return collection of objects support pagination. We are using technique known as 'cursor-based pagination'.
- on request:
  - query parameter `limit` specifies maximum number of objects in returned collection
  - query parameter `after` specifies last object retrieved in previous request. Its value is usually `id` or `index` of last object retrieved in previous call, but this will be stated in documentation. Parameter `after` is used when traversing collection forwards.
  - query parameter `before` specifies first object retrieved in previous request (analogy to `after` parameter), and is used when traversing collection backwards.
  - if `before` and `after` are omitted, beginning of collection is returned, using specified sort order
  - items in collection are always sorted according to attribute which could be passed in after/before parameters. Even if you specify different sorting order, this attribute will be last sorting criterion; if you do not specify sorting order, result collection will be sorted according to this attribute.
- on response:
  - `pagingInfo` object is returned as part of response body with following attributes:
    - _nextPage_ - request to retrieve next page. Either `nextPage` or `previousPage` is returned, depending whether you specify `after` or `before` parameter. If you specify only `limit` parameter, `nextPage` is returned (more items than `limit` are available to be returned).
    - _prevPage_ - request to retrieve previous page (see `nextPage` attribute description above).
    - _itemsPerPage_ - number of items per page (determined by parameter `limit` in request).


Example request:
```
curl -X GET https://api.homecredit.cz/banking/v1/my/contracts/123456789/transactions?limit=10&after=20
```

Example response pagingInfo:

```javascript
"pagingInfo": {
    "nextPage": "/banking/v1/my/contracts/123456789/transactions?limit=10&after=30"
    "prevPage": "/banking/v1/my/contracts/123456789/transactions?limit=10&before=20"
    "itemsPerPage": 10,
}
```

## Sorting
> NOTE: No resource supports sorting at the moment.


## Filtering
Some resources (stated in documentation) supports results filtering. Such resources have list of filters specified together with possible operations and possible values.

You can specify filtering by passing `filter` attribute. General pattern to specify filter is:

`<filterName>|<operator>|<values>`

- `filterName` - filter name from documentation
- `operator` - operator, specified in resource documentation
- `values` - one or more values for filter (multiple values are separated by comma)

Multiple filters can be specified on each request, separated by semi-colon. They are joined by "AND", so each result item must satisfy all conditions.

### Filtering examples
- get a list of transactions from contract 123456789 with booking date between 10.1.2018 and 20.1.2018 (included)
```
GET banking/v1/my/contracts/123456789/transactions?filter=bookingDate|gt|2018-01-10;bookingDate|lteq|2018-01-20
```

- get a list of transactions from contract 123456789 with amount between 100 (included) and 1000 (included) in account's currency
```
GET banking/v1/my/contracts/123456789/transactions?filter=amount.value|gteq|100;amount.value|lteq|1000
```  

### List of operators
| operator | meaning                |
| ---      | ---                    |
| lt       | less than              |
| lteq     | less than or equals    |
| eq       | equals                 |
| gteq     | greater than or equals |
| gt       | greater than           |
| in       | value in list          |


## Request restrictions
Please, keep in mind following restrictions regarding requests:
- Maximum request size is **10 MB**.
- Maximum size of accepted single file is **500 kB**.

## API calls limits
When you reach API calls limit (you call our API more times than is your quota), you receive HTTP error 429. To inform you about limits we use following response headers:
- `X-Rate-Limit-Limit` - The number of allowed requests in the current period
- `X-Rate-Limit-Remaining` - The number of remaining requests in the current period
- `X-Rate-Limit-Reset` - The number of seconds left in the current period

## Bandwith usage reducing

### GZIP compression
- we support GZIP compression of responses. Client must specify header `Accept-Encoding: gzip` in request in order to use the compression.

## Versioning
We use API version in URL (e.g. `https://api.homecredit.cz/banking/v1/my/contracts`). Minor changes (see below) that don't break backwards compatibility do NOT increase API version, e.g. they may happen without prior notice and your application should be ready to handle them.

Minor changes include:
- adding new resource
- adding new optional header/URL parameter or optional body attribute to request
- adding new attribute to response body
- adding new error codes and messages, provided that error structure is the same

## Language
We use English.

## Response encoding
Unless stated otherwise, all responses are sent as `Content-Type: application/json; charset=utf-8`

## HTTP status codes
We use following status codes throughout the API, except for OAuth flow when response codes are prescribed in [RFC 6749](https://tools.ietf.org/html/rfc6749)
- 200 `OK` - request was successful
- 201 `Created` - request was successfull and resource was created
- 204 `No Content` - we accepted your request but there is nothing to return (e.g. response is empty)
- 400 `Bad Request` - syntax error, e.g. request is missing required parameters/attributes or parameter values are of incorrect type
- 401 `Unauthorized` - your API key is wrong or user not authorized (not logged in)
- 403 `Forbidden` - access denied (e.g. user / application is not allowed to use the resource)
- 404 `Not Found` - resource could not be found
- 405 `Method Not Allowed` - specified method is not allowed for resource
- 422 `Unprocessable Entity` -  business (semantic) errors. Request is well-formed, but cannot be processed (e.g. payment is not in supported state to be canceled). Errors are specified in response body (see below)
- 429 `Too Many Requests` - you exceeded the rate limit (see section [API calls limit](#introduction/api-calls-limits) above)
- 500 `Internal Server Error` - something went wrong on our side
- 503 `Service Unavailable` - there is planned service outage


## Error handling
Besides HTTP status codes, which are the main indication if something goes wrong, we also use `errors` object to report more details about errors.

Errors object example:
```javascript
{
    ...

    errors: [
        {
           "code": "NOT_SUFFICIENT_BALANCE",
           "message": "Not sufficient balance for the operation",
           "severity": "ERROR",
           "attribute": "Contract.balance.actual",         // optional
           "ticketId": "UAT1:AMS:20160516-091658.450:45e4" // optional
        },
        {
            "code": "WARNING_BALANCE",
            "message": "Insufficient funds for payment order realization",
            "severity": "WARN"
        },
        {
            "code": "CURR_EXCH_OPER_TRIGGERED",
            "message": "This order will trigger currency exchange operation",
            "severity": "INFO"
        }
    ]
}
```

Error object attributes
| Attribute name   | Description                                                     |
| ---              | ---                                                             |
| `code`           | Unique error code                                               |
| `message`        | Human readable error description (non-localized)                |
| `severity`       | Error severity ([see below](#error-severity))                   |
| `attribute`      | JSON path of request attribute that caused the error (optional) |
| `ticketId`       | Internal ticket ID, used for error backtracking                 |

In defined cases the `errors` object can be extended by additional authorization connected information
| Attribute name   | Description                                                           |
| ---              | ---                                                                   |
| `blockedUntil`   | Time till when the requested resource call is not available - blocked |
<!--
| `waitUntil`      | Time since when the repeated resource call is available again         |
-->

Extended error response example:
```javascript
{
    "errors": [
      {
        "code": "DEVICE_TEMPORARILY_BLOCKED",
        "message": "Too many unsuccessful authorization requests",
        "severity": "ERROR"
       }
     ],
     "authorization": {
        "blockedUntil": "2018-01-18T10:34:44+01:00"
      }
}
```

<a name="error-severity"></a>
There are 3 levels of error severity:
- `ERROR` - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code (e.g. `422 UNSUPPORTED_CONTRACT_TYPE`)
- `WARN` - non-critical error, execution can continue but further user interaction is advisable (for request to proceed, you MUST specify this error code in `override` request attribute). This MIGHT be indicated also by appropriate HTTP status code.
- `INFO` - information only, execution can continue without user interaction.


## Formats
- **date** and **time** uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting, e.g.:
  - date is represented as `YYYY-mm-dd`. Timezone (local) is added when necessary.
  - time is represented as `Thh:mm:ss`. Timezone is added when necessary. Time with arbitrary number of digits respresenting miliseconds is also accepted (when [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format criteria is met) but the time without miliseconds is always returned.
  - day of week is represented as number 1..7, with 1 being Monday
  - week no. 1 is the week with the year's first Thursday in it
- **phone numbers** uses international format starting with '+' and including country code (example of valid number: `+420739111222`)
- **numbers format** number format is defined by [JSON standard](http://www.json.org), e.g. decimals are separated by `.`
- **amounts** uses major units formatting (two digits used after decimal separator which is '.'), e.g.: 125.90 CZK)


## Documentation principles
- attributes in request/response object are optional, unless stated otherwise (`required` flag under attribute name)
- required attribute in optional object means, that if optional object is specified, it must contain required attribute.
- all values in request/response attributes are just examples, except for enum values - these are the only possible values for given attribute.


## Testing environment
When you want to try API in a sand-box environment, you can use resources as described further in this documentation. Several things has to be adapted though.

**Take following information into consideration, please:**
- There are prepared set of data ([see details below](#testing-data-default-settings)) for you that no other API consumer can modified.
- Test environment persists data only until its next restart - default data set is in place after every restart.
- Test endpoints differ form production ones:

| Production endpoint                                    | Test endpoint                                                                   |
| ---                                                    | ---                                                                             |
| https://api.homecredit.cz/banking/hc-oauth2/token (CZ) | https://apicz-test.homecredit.net/verdun-train/bankingMock/hc-oauth2/token (CZ) |
| https://api.homecredit.sk/banking/hc-oauth2/token (SK) | https://apisk-test.homecredit.net/verdun-train/bankingMock/hc-oauth2/token (SK) |
| https://api.homecredit.cz/banking/v1/... (CZ)          | https://apicz-test.homecredit.net/verdun-train/bankingMock/v1/... (CZ)          |
| https://api.homecredit.sk/banking/v1/... (SK)          | https://apisk-test.homecredit.net/verdun-train/bankingMock/v1/... (SK)          |

- There has to be a special header defined within all test requests - `scenario` (example: `scenario:1`), you receive 400 BAD_REQUEST otherwise. This header defines which of the prepared data set you want use and operate on.
- There are following data sets prepared for you (both destinations - CZ & SK - are covered):

<a name="testing-data-default-settings"></a>
| `scenario:1`                  | `scenario:2`                  |
| ---                           | ---                           |
| Client A                      | Client B                      |
| 2 contracts                   | 1 contract                    |
| Money still available         | No money available            |
| Transactions history included | Transactions history included |

- Several validations and back-end processes are simplified or ommited:
  - OTP is not generated per resource call, it is always `11111111`
  - OTP is never sent anywhere
  - It is not possible to violate OTP requests restrictions (max N attempts per time unit; max number of overall attempts), it means some error states could not be simulated


## Headers
All valid requests MUST contain following headers:
- `Authorization` - OAuth 2.0 authentication

> IMPORTANT: All keys must be filled, some values can be left empty (see particular definiton)

> Particular key-value pairs within a header are divided by a pipe `|`

### Authorization
`Authorization` header and its usage is described in the [Security section below](#reference/security).


# Group Security

## SSL key pinning
It is recommended to implement SSL certificate and public key pinning as described [here](https://www.owasp.org/index.php/Certificate_and_Public_Key_Pinning) or in an [RFC-7469](https://datatracker.ietf.org/doc/rfc7469/).

## Securing APIs - OAuth2
To access user sensitive data through API, user must grant your application a permission to do so. Open API uses [OAuth2](https://tools.ietf.org/html/rfc6749) mechanism to grant permissions to access user data. As for now, only [authorization code grant](https://tools.ietf.org/html/rfc6749##page-24) flow is supported. This section describes mechanism and resources to get valid access token and use it to access protected resources.

- if you fail to specify OAuth2 token, you will receive `401 Unauthorized` error and following response body:

```
{
   "error_description": "The access token is missing",
   "error": "invalid_request"
}
```

- if you provide invalid OAuth2 token, you will receive `401 Unauthorized` error and following response body:

```
{
    "error_description":"The access token is invalid or has expired",
    "error":"invalid_token"
}
```

### Developers perspective

1. In order to get an access to OAuth2 protected resources you must register your application by sending an e-mail to **info@homecredit.cz** first. You should provide at least following information:
- Your application developer (or other person responsible for integration of this API) identification
  - Name
  - Company name
  - Contacts (phone, e-mail, address)
- National bank (ČNB for CZ, NBS for SK) license information
- Your application information and specification
  - Name
  - Version
  - Description / purpose
- `redirect URI` attribute = this is the URI user is redirected to after he logs in and approves your application (see below to learn more). You will receive `client ID` and `client secret` (note: those are different than apikey used to access any resource from Open API).

2. When you wish to access protected resource (pretty much anything under `/banking` path) for the first time, redirect user to `login page` with parameters:
    + `client_id` - client ID parameter you received in previous step
    + `response_type` - constant `CODE`

    *Example request:*

    ```
    https://www.homecredit.cz/rozcestnik?client_id=MYCLIENTID&response_type=CODE
    ```

    > IMPORTANT NOTE: Do not use embedded webview in mobile applications, use platform native browser instead.

3. User have to log-in using his credentials and approve your application's access

4. If successful, user is redirected to `redirect URI` you specified at application registration, together with parameter `code`. This redirect should be handled by your application, in order to exchange code for valid access token; for mobile applications, consider using custom URL scheme (iOS), intents (Android) or similar mechanism.

    *Example redirect URI:*

    ```
    https://myapp.example.com/handle_authentication?code=123arjdmvcskfm
    ```

5. Access API [token resource](#reference/security/exchange-code-for-token/exchange-code-for-token) and exchange `code` for an `access token`. You will also receive a `refresh token` that can later be used for obtaining of a new `access token` when the old one expires (its usual lifespan is 120 min).

6. Use retrieved `access token` to access protected resources by specifying it in header `Authorization` together with its type, e.g.:

    ```
    curl -H "Authorization: Bearer access_token" https://api.homecredit.cz/banking/v1/my/contracts
    ```

> IMPORTANT NOTE: You must keep your client secret safe. It serves as your application password.

### User perspective

1. User runs your application for the first time.

2. Your application redirects user to [OpenAPI `login page`](#reference/security/oauth2-resources).

3. User provides its credentials (user + password, possibly combined with another factor like SMS code etc.).

4. User sees a page that displays details about your application and rights it has requested.

5. User authorizes your application's access.

6. User can start using your application.


### OAuth2 resources
| Resource       | Enviroment          | URL                                                                                                                                                                 |
| ---            | ---                 | ---                                                                                                                                                                 |
| login page     | testing environment | https://www.test.homecredit.cz/rozcestnik (CZ) or https://www.test.homecredit.sk/rozcestnik (SK)                                                                    |
| login page     | production          | https://www.homecredit.cz/rozcestnik (CZ) or https://www.homecredit.sk/rozcestnik (SK)                                                                              |
| token resource | testing environment | https://apicz-test.homecredit.net/verdun-train/bankingMock/hc-oauth2/token (CZ) or https://apisk-test.homecredit.net/verdun-train//bankingMock/hc-oauth2/token (SK) |
| token resource | production          | https://api.homecredit.cz/banking/hc-oauth2/token (CZ) or https://api.homecredit.sk/banking/hc-oauth2/token (SK)                                                    |

> SUPPORT: In case of any problems with links/endpoints mentioned above do not hesitate to contact us at integrace@homecredit.cz

## Exchange code for token [POST /hc-oauth2/token]
Exchange authorization code for access token

+ Request (application/json;charset=UTF-8)

    + Attributes (TokenCodeRequest)


+ Response 200 (application/json;charset=UTF-8)

    + Attributes (TokenResponse)


# Group My contracts
Set of resources to access client's accounts.

## Customer's contracts [/my/contracts]
Customer's active revolving loan contracts.

### List of contracts [GET]
Get a list of customer's active revolving loan contracts.

| Feature                              | Supported by resource |
| ---                                  | ---                   |
| [paging](#introduction/paging)       | No                    |
| [sorting](#introduction/sorting)     | No                    |
| [filtering](#introduction/filtering) | No                    |

Possible error codes explanation:
| Error status code | Code         | Explanation                 |
| --- | ---                        | ---                         |
| 404 | RESOURCE_NOT_FOUND         | Resource could not be found |
| 500 | INTERNAL_SERVER_ERROR      | Internal failure            |


+ Request Valid (application/json;charset=UTF-8)

+ Response 200 (application/json;charset=UTF-8)
List of customer's contracts
    + Attributes (object)
        + data (array[Contract], fixed-type, required)


+ Request Valid empty (application/json;charset=UTF-8)

+ Response 204


## Transactions [/my/contracts/{contractNumber}/transactions{?include}]
Transactions of given contract.

+ Parameters
    + contractNumber: `3700227718` (string, required) - ID of contract
    + include: `HOLD` (string, optional) - Specification of trasactions to include. Possible values: `HOLD` (only authorization holds, e.g. non-processed transactions), `PROCESSED` (only processed transactions), `BOTH` (include both processed transactions and authorization holds)

### Transactions on contract [GET]
Get a list of transactions on contract

| Feature                              | Supported by resource |
| ---                                  | ---                   |
| [paging](#introduction/paging)       | Yes                   |
| [sorting](#introduction/sorting)     | No                    |
| [filtering](#introduction/filtering) | Yes                   |

#### Paging
This resource supports [paging](#introduction/paging). The attribute `id` will be used as the value for `before` or `after` parameter.

*Example request:*

`GET /my/contracts/{contractNumber}/transactions?limit=10&after=60`

*Example response pagingInfo:*

```
"pagingInfo": {
    "nextPage": "/banking/v1/my/contracts/123456789/transactions?limit=10&after=70",
    "prevPage": "/banking/v1/my/contracts/123456789/transactions?limit=10&before=60",
    "itemsPerPage": 10
}
```

#### Sorting
Transactions are sorted by default according to `bookingDate`. Custom sorting is not supported.

#### Filtering
This resource supports [filtering](#introduction/filtering). You can use following filters:

filter name      | possible operators | example
---              | ---                | ---
bookingDate      | lt,lteq,gt,gteq,eq | `transactions?filter=bookingDate|gt|2015-01-10;bookingDate|lteq|2015-01-20`  transactions with 2015-01-10 <= bookingDate < 2015-01-20
amount.value     | lteq,gteq,eq       | `transactions?filter=amount.value|gteq|100;amount.value|lteq|1000`  transactions with 100 <= amount.value <= 1000, in account's currency


Possible error codes explanation:
| Error status code | Code         | Explanation                 |
| --- | ---                        | ---                         |
| 404 | RESOURCE_NOT_FOUND         | Resource could not be found |
| 500 | INTERNAL_SERVER_ERROR      | Internal failure            |

+ Request Valid (application/json;charset=UTF-8)

+ Response 200 (application/json;charset=UTF-8)
List of contract related transactions
    + Attributes (object)
        + data (array[Transaction], fixed-type, required)
        + pagingInfo (PagingInfo, optional)

+ Request Valid without transactions found (application/json;charset=UTF-8)
    + Parameters
        + contractNumber: `valid_empty`

+ Response 204

+ Request Non-existing contract (application/json;charset=UTF-8)
    + Parameters
        + contractNumber: `this_is_no_contract`

+ Response 404 (application/json;charset=UTF-8)
    + Attributes (Errors)


## Payments [/my/contracts/{contractNumber}/payments]
Payment initialization with OTP generation.

This is the first of two resources that is needed for successful completion of payment. To authorize payment with OTP (sent to client via SMS), use [the second resource](#reference/my-contracts/payment-otp-authorization).

+ Parameters
    + contractNumber: `123456789` (string, required) - Number of the contract client wants to make a payment from.

### Payment [POST]
Initialize payment within given contract.

Possible error codes explanation:
| Error status code | Code         | Explanation                                                                      |
| --- | ---                        | ---                                                                              |
| 400 | INVALID_REQUEST            | Request was not well formatted (malformed request syntax, size too large, etc.)  |
| 404 | RESOURCE_NOT_FOUND         | Resource could not be found                                                      |
| 422 | IN_RECOVERY                | Customer is in collection                                                        |
| 422 | NOT_SUFFICIENT_BALANCE     | Customer does not have sufficient balance                                        |
| 422 | NO_VERIFIED_MOBILE         | Customer does not have verified mobile                                           |
| 422 | UNSUPPORTED_CONTRACT_TYPE  | Not supported for given contract type                                            |
| 422 | UNSUPPORTED_CONTRACT_STATE | Not supported for current contract state                                         |
| 422 | NOT_AVAILABLE              | Operation is not available  (some criteria is not met)                           |
| 500 | INTERNAL_SERVER_ERROR      | Internal failure                                                                 |

+ Request Valid (application/json; charset=utf-8)
    + Attributes (PaymentInitialization)
        + `paymentId` (string, optional) - Existing payment ID

+ Response 201 (application/json;charset=UTF-8)
Payment initialized
   + Attributes (PaymentInitializationResponse)


+ Request Valid re-send OTP (application/json; charset=utf-8)
   + Attributes (PaymentInitialization)

+ Response 200 (application/json;charset=UTF-8)
Payment initialized
  + Attributes (PaymentInitializationResponse)


+ Request Non-existing contract
    + Parameters
        + contractNumber: `this_is_no_contract`
    + Attributes (PaymentInitialization)

+ Response 404 (application/json;charset=UTF-8)
    + Attributes (Errors)


## Payment OTP authorization [/my/contracts/{contractNumber}/payments/{paymentId}/authorize]
Payment authorization with OTP.

This is the second of two resources that is needed for successful completion of payment. To initialize payment, use [the first resource](#reference/my-contracts/payment).

+ Parameters
    + contractNumber: `123456789` (string, required) - Number of the contract client wants to make a payment from.
    + paymentId: `A11223344` (string, required) - Payment ID obtained during initialization

### Authorize payment [POST]
Authorize payment within given contract.

Possible error codes explanation:
| Error status code | Code     | Explanation                                                                                       |
| --- | ---                    | ---                                                                                               |
| 404 | RESOURCE_NOT_FOUND     | Resource could not be found                                                                       |
| 422 | NOT_AUTHORIZED         | Incorrect OTP                                                                                     |
| 422 | NOT_AUTHORIZED_BLOCKED | Limit of attempts for payment authorization exceeded, another attempts temporarily blocked        |
| 422 | OTP_EXPIRED            | Validity of OTP expired                                                                           |
| 422 | ALREADY_AUTHORIZED     | Already authorized                                                                                |
| 500 | INTERNAL_SERVER_ERROR  | Internal failure                                                                                  |

> All 4XX status codes responses can be optionally extended by authorization attribute `blockedUntil` - all requests for another payment (OTP) initialization will be refused until this time

+ Request Valid (application/json; charset=utf-8)
    + Attributes (PaymentAuthorization)

+ Response 200 (application/json;charset=UTF-8)
Payment authorized and is being processed
    + Attributes (Payment)


+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract`
        + paymentId: `A11223344`
    + Attributes (PaymentAuthorization)

+ Response 404 (application/json;charset=UTF-8)
    + Attributes (Errors)
        + authorization (Authorization, optional)

+ Request Non-existing Payment (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `123456789`
        + paymentId: `A0`
    + Attributes (PaymentAuthorization)

+ Response 404 (application/json;charset=UTF-8)
    + Attributes (Errors)
        + authorization (Authorization, optional)


## Specific payment [/my/contracts/{contractNumber}/payments/{paymentId}]
Specific payment order resources.

+ Parameters
    + contractNumber: `3700227718` (string, required) - Payment related contract number
    + paymentId: `A123456789` (string, required) - Payment relevant account move ID

### Payment [DELETE]
Cancel specific unprocessed payment order.

Possible error codes explanation:
| Error status code | Code         | Explanation                           |
| --- | ---                        | ---                                   |
| 404 | RESOURCE_NOT_FOUND         | Resource could not be found           |
| 422 | NOT_ALLOWED                | Cancelation of payment is not allowed |
| 500 | INTERNAL_SERVER_ERROR      | Internal failure                      |


+ Response 200 (application/json;charset=UTF-8)
   + Attributes (Payment)

+ Request Non-existing contract (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `this_is_no_contract`
        + paymentId: `A11223344`
    + Attributes (PaymentAuthorization)

+ Response 404 (application/json;charset=UTF-8)
    + Attributes (Errors)
        + authorization (Authorization, optional)

+ Request Non-existing Payment (application/json; charset=utf-8)
    + Parameters
        + contractNumber: `123456789`
        + paymentId: `A0`
    + Attributes (PaymentAuthorization)

+ Response 404 (application/json;charset=UTF-8)
    + Attributes (Errors)
        + authorization (Authorization, optional)


## Data structures

## Contract (object)
+ contractNumber: `12345678` (string, required) - ID of a contract
+ name: `Tesco karta` (string, required) - human-readable contract (product) name
+ approveDate: `2017-01-08` (string, required) - date when contract was approved
+ signedAt: `2016-01-25` (string, required) - date when contract was signed
+ balance (object, required)
    + actual (Amount, required) - actual credit balance
    + available (Amount, required) - available credit balance
    + balanceDate: `2018-01-18T10:00Z` (string, required) - reference time of balance information validity
+ paymentInfo (PaymentAvailability, required) - payment availability information

## PaymentAvailability (object)
+ `limitFrom` (Amount, required) - Minimal available payment amount (possible overpayment taken into account, zero when payment unavailable)
+ `limitTo` (Amount, required) - Maximal available payment amount (zero when payment unavailable)
+ `overpayment` (Amount, optional) - Overpayment amount (if available)

## Transaction (object)
+ id: `T12312345` (string, required) - internal transaction identifier
+ contractNumber: `123456789` (string, required) - contract to that transaction belongs (to which it is accounted)
+ amount (Amount, required) - amount & currency used for bookkeeping (e.g. amount in account's currency). Can be negative e.g. if something was withdrawn from an account. Original transaction amount and currency will be specified in `additionalInfo` object if applicable
+ direction: `CREDIT` (enum, required) - direction of transaction
    + `CREDIT` - credit transaction (+)
    + `DEBIT` - debit transaction (-)
+ status: `PROCESSED` (enum, required) - transaction status
    + `UNPROCESSED` - unprocessed transaction
    + `PROCESSED` - processed transaction
+ partyAccount (BankAccount, optional) - party bank account number
+ partyDescription: `John Doe` (string, optional) - party description
+ valueDate: `2016-02-10T10:00Z` (string, required) - transaction value date, e.g. the day transaction "happened"
+ bookingDate: `2016-02-09T10:00Z` (string, optional) - transaction booking date, e.g. the day transaction was bookkeeped
+ payerMessage: `need to pay this` (string, optional) - message for payer. Empty for incoming transactions.
+ payeeMessage: `info` (string, optional) - message for payee (e.g. for client receiving transaction)
+ transactionFeeCanceled: `false` (boolean, optional) - set to true if transaction fee is canceled.
+ additionalInfoDomestic (TransactionInfoDomestic, optional) - domestic payments additional info (symbols for fomestic payments)
+ additionalInfoForeign (TransactionInfoForeign, optional) - foreign payments additional info (original value and exchange rate)
+ additionalInfoCard (TransactionInfoCard, optional) - card payemnts additional info (card number, mcc and merchant name)

## TransactionInfoDomestic (object)
+ `constantSymbol`: `0558` (string, optional)
+ `variableSymbol`: `9` (string, optional)
+ `specificSymbol`: `100011` (string, optional)

## TransactionInfoCard (object)
+ `mcc`: `3081` (string, optional) - Merchant Category code
+ `merchantName`: `SomeCompany, Ltd.` (string, optional)
+ `cardNumber`: `34xx-xxxx-xxxx-6289` (string, required) - Masked card number used for transaction
+ `cardName`: `Šikovná karta Home Credit` (string, optional) - Card name

## TransactionInfoForeign (object)
+ `originalValue` (Amount, optional) - amount & currency in which transaction was originated
+ `exchangeRate`: 12.80 (number, optional) - exchange rate valid at the time of transfer

## PaymentInitialization (object)
+ bankAccount (BankAccount, required) - Customer's account number
+ amount (Amount, required) - Payment amount
+ messageForPayer: `I am your father` (string, optional) - Message for payer
+ messageForPayee: `Search your feelings` (string, optional) - Message for payee
+ variableSymbol: `123456789` (string, optional) - Variable symbol of payment
+ specificSymbol: `123456789` (string, optional) - Specific symbol of payment
+ constantSymbol: `0123` (string, optional) - Constant symbol of payment
+ paymentId: `A11223344` (string, optional) - Existing payment ID (used in repeated requests, when OTP needs to be generated again)

## PaymentInitializationResponse (object)
+ paymentId: `A11223344` (string, required) - Payment request ID
+ key: `011173bc-13d8-4467-a096-b8680b122fc3` (string, optional) - Payment authorization key (it is known only to application)

## PaymentAuthorization (object)
+ smsAuthorization (object, required) - Authorization info for SMS (OTP) authorization type
    + key: `011173bc-13d8-4467-a096-b8680b122fc3` (string, required) - Payment verification key (it is known only to application)
    + code: `12345` (string, required) - Payment OTP - code sent through SMS

## Payment (object)
+ paymentId: `A11223344` (string, required) - Payment ID

## BankAccount (object)
+ type: `IBAN`(enum, required) - Account type
    + `IBAN`
    + `NATIONAL`
+ One Of
    + iban (AccountIBAN, required) - Account number in IBAN format
    + national (AccountNational, required) - Account number, for domestic accounts this will be specified in national format.

## AccountIBAN (object)
+ iban: `CZ6508000000192000145399` (string, required) - Account number in IBAN format

## AccountNational (object)
+ prefix: `000000` (string, optional) - Account number prefix. For domestic accounts, this will be specified in national format.
+ accountNumber: `1235335010` (string, required) - Account number. For domestic accounts, this will be specified in national format.
+ bankCode: `3030` (string, required) - For domestic accounts, bank code in national format


## Error (object)
+ code: `ERR_1000_SOME_ERROR_CODE` (string, required) - unique internal error code
+ message: `Some error/validation message description` (string, required) - human readable error description (non-localized)
+ severity: `ERROR` (enum, required)
    + ERROR - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code
    + WARN - non-critical error, execution can continue but further user interaction is advisable. This MIGHT be indicated also by appropriate HTTP status code
    + INFO - information only, execution can continue without user interaction
+ attribute: `personalBirthNumber` (string, optional) - json path of request attribute that caused the error (if applicable)    
+ ticketId: `UAT1:AMS:20160516-091658.450:45e4` (string, optional) - internal ticket ID, used for error backtracking

## Errors (object)
+ errors (array[Error], fixed-type, required)

## Authorization (object)
+ blockedUntil: `2017-01-18T10:34:44+01:00` (string, optional) - requested operation is blocked until specified time

## PagingInfo (object)
+ itemsPerPage: 10 (number, required) - Number of items per page
+ nextPage: `banking/v1/my/contracts/123456789/transactions?limit=10&after=30` (string, optional) - Request to retrieve next page, if it exists and can be unambiguously specified
+ prevPage: `banking/v1/my/contracts/123456789/transactions?limit=10&before=20` (string, optional) - Request to retrieve previous page, if it exists and can be unambiguously specified

## Amount (object)
+ value: 125.90 (number, required) - Amount in major currency unit (two digits used after decimal separator which is '.')
+ currency: `CZK` (string, required) - Amount currency. [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)

## TokenCodeRequest (object)
+ `grant_type` (enum, required) - grant flow type, only `authorization_code` and `refresh_token` is supported
    + authorization_code - use to exchange code for access token
    + refresh_token - can be used to get new access token instead of forcing user to login again
+ `client_id`: `<your client ID>` (string, required) - client_id parameter of your application, received at application registration    
+ `client_secret`: `<your client secret>` (string, required) - client_secret parameter of your application, received at application registration    
+ One Of
    + code: `12254a1124` (string, required) - authorization code, received from authorization server
    + refresh_token: `12254a1124` (string, required) - refresh token, received from authorization server

## TokenResponse (object)
+ refresh_token: `7dbadd74c434439db4fc9b2bbf8cabb3` (string, optional) - refresh token, if supported
+ token_type: `bearer` (string, required) - token type. Always "bearer".
+ access_token: `ccafe62cbce645ce95b2acce839f4acc` (string, required) - access token, to be included in API request
+ expires_in: 7200 (number, required) - access token validity, in seconds
