{
  "swagger": "2.0",
  "info": {
    "version": "137.0-3-5034",
    "title": "LoanIt - Application Financing"
  },
  "host": "private-09088c-csfinancingv3.apiary-mock.com",
  "basePath": "/",
  "tags": [
    { "name": "financing-v1", "description": "Application Controller" },
    { "name": "financing-v2", "description": "Application Controller" },
    { "name": "financing-v3", "description": "Application Controller" }
  ],
  "paths": {
    "/rest/financing/v1/applications": {
      "post": {
        "tags": ["financing-v1"],
        "summary": "create",
        "description": "Requires <b>applications.create</b> authority for authenticated user",
        "operationId": "createUsingPOST_3",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/FinancingV1ApplicationRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1Application" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/applications/{uuid}": {
      "get": {
        "tags": ["financing-v1"],
        "summary": "get",
        "description": "Requires <b>applications.overview</b> authority for authenticated user",
        "operationId": "getUsingGET_7",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1Application" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/applications/{uuid}/cancel": {
      "put": {
        "tags": ["financing-v1"],
        "summary": "cancel",
        "description": "Requires <b>applications.cancel</b> authority for authenticated user",
        "operationId": "cancelUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancingV1ApplicationCancelRequest"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1Application" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/applications/{uuid}/order": {
      "put": {
        "tags": ["financing-v1"],
        "summary": "change order",
        "description": "Requires <b>applications.order.edit</b> authority for authenticated user",
        "operationId": "changeApplicationOrderUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/FinancingV1OrderChangeRequest" }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1OrderExtended" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/applications/{uuid}/order/deliver": {
      "put": {
        "tags": ["financing-v1"],
        "summary": "deliver",
        "description": "Requires <b>applications.order.ship_deliver</b> authority for authenticated user",
        "operationId": "deliverUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1OrderExtended" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/applications/{uuid}/order/send": {
      "put": {
        "tags": ["financing-v1"],
        "summary": "send",
        "description": "Requires <b>applications.order.ship_deliver</b> authority for authenticated user",
        "operationId": "sendOrderItemsUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1OrderExtended" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/health": {
      "get": {
        "tags": ["financing-v1"],
        "summary": "getHealth",
        "operationId": "getHealthUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "description": "timeout",
            "required": false,
            "type": "integer",
            "default": 2000,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/IssueList" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v1/installmentPrograms": {
      "post": {
        "tags": ["financing-v1"],
        "summary": "calculateInstallmentProgram",
        "operationId": "calculateInstallmentProgramUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/InstallmentProgramsRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/InstallmentProgram" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v1/installmentProgramsDownPayments": {
      "post": {
        "tags": ["financing-v1"],
        "summary": "calculateInstallmentProgramDownPayments",
        "operationId": "calculateInstallmentProgramDownPaymentsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstallmentProgramDownPaymentsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InstallmentProgramDownPaymentsResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v1/installmentProgramsOffers": {
      "post": {
        "tags": ["financing-v1"],
        "summary": "calculateInstallmentPrograms",
        "operationId": "calculateInstallmentProgramsUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstallmentProgramsOffersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/InstallmentProgramsResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v1/orders": {
      "get": {
        "tags": ["financing-v1"],
        "summary": "get order",
        "description": "Requires <b>applications.overview</b> authority for authenticated user",
        "operationId": "getUsingGET_9",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "applicationId",
            "in": "query",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1OrderExtended" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/precheck": {
      "post": {
        "tags": ["financing-v1"],
        "summary": "precheck",
        "description": "Requires <b>applications.precheck</b> authority for authenticated user",
        "operationId": "precheckUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/FinancingV1PrecheckRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV1PrecheckResponse" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v1/scorings/precheck": {
      "post": {
        "tags": ["financing-v1"],
        "summary": "precheck",
        "description": "Requires <b>applications.precheck</b> authority for authenticated user",
        "operationId": "precheckUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancingV1ScoringPrecheckRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FinancingV1ScoringPrecheckResponse"
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v2/applications": {
      "get": {
        "tags": ["financing-v2"],
        "summary": "search",
        "description": "Requires <b>applications.overview</b> authority for authenticated user",
        "operationId": "getApplicationsUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageOfFinancingV2ApplicationBasicInformation"
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      },
      "post": {
        "tags": ["financing-v2"],
        "summary": "create",
        "description": "Requires <b>applications.create</b> authority for authenticated user",
        "operationId": "createUsingPOST_2",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/FinancingV2ApplicationRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingApplicationBase" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v2/applications/results": {
      "get": {
        "tags": ["financing-v2"],
        "summary": "get application results",
        "description": "Requires <b>applications.results</b> authority for authenticated user",
        "operationId": "getApplicationResultsUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "createdFrom",
            "in": "query",
            "description": "createdFrom",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createdTo",
            "in": "query",
            "description": "createdTo",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "onlyFinished",
            "in": "query",
            "description": "onlyFinished",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV2ApplicationResults" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v2/applications/{uuid}": {
      "get": {
        "tags": ["financing-v2"],
        "summary": "get",
        "description": "Requires <b>applications.overview</b> authority for authenticated user",
        "operationId": "getUsingGET_6",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV2Application" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v2/applications/{uuid}/cancel": {
      "post": {
        "tags": ["financing-v2"],
        "summary": "cancel",
        "operationId": "cancelUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancingV2ApplicationCancelRequest"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV2Application" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v2/applications/{uuid}/order/ship": {
      "post": {
        "tags": ["financing-v2"],
        "summary": "setStatus",
        "description": "Requires <b>applications.order.ship_deliver</b> authority for authenticated user",
        "operationId": "shipOrderUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": { "description": "Created" },
          "204": { "description": "No Content" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v2/applications/{uuid}/results": {
      "get": {
        "tags": ["financing-v2"],
        "summary": "get application result",
        "description": "Requires <b>applications.results</b> authority for authenticated user",
        "operationId": "getApplicationResultUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV2ApplicationResult" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v2/health": {
      "get": {
        "tags": ["financing-v2"],
        "summary": "getHealth",
        "operationId": "getHealthUsingGET_2",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "description": "timeout",
            "required": false,
            "type": "integer",
            "default": 2000,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/IssueList" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v2/products/offers": {
      "post": {
        "tags": ["financing-v2"],
        "summary": "calculateOffers",
        "operationId": "calculateOffersUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancingFinancedSubjectCalculateOffers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancingV2CalculateOffersResult"
              }
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v2/scorings/precheck": {
      "post": {
        "tags": ["financing-v2"],
        "summary": "precheck",
        "description": "Requires <b>applications.precheck</b> authority for authenticated user",
        "operationId": "precheckUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/FinancingV2PrecheckRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV2PrecheckResult" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v3/applications": {
      "post": {
        "tags": ["financing-v3"],
        "summary": "create",
        "description": "Requires <b>applications.create</b> authority for authenticated user",
        "operationId": "createUsingPOST_4",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": { "$ref": "#/definitions/FinancingV3ApplicationRequest" }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingApplicationBase" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v3/applications/{applicationId}/orders/deliver": {
      "put": {
        "tags": ["financing-v3"],
        "summary": "deliver",
        "operationId": "deliverUsingPUT_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV3OrderExtended" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v3/applications/{applicationId}/orders/ship": {
      "put": {
        "tags": ["financing-v3"],
        "summary": "ship",
        "operationId": "shipUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "applicationId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV3OrderExtended" }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v3/applications/{uuid}": {
      "get": {
        "tags": ["financing-v3"],
        "summary": "get",
        "operationId": "getUsingGET_8",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/FinancingV3Application" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v3/applications/{uuid}/cancel": {
      "put": {
        "tags": ["financing-v3"],
        "summary": "cancel",
        "description": "Requires <b>applications.cancel</b> authority for authenticated user",
        "operationId": "cancelUsingPUT_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancingV3ApplicationCancelRequest"
            }
          },
          {
            "name": "uuid",
            "in": "path",
            "description": "uuid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "security": [{ "Basic": [] }],
        "deprecated": false
      }
    },
    "/rest/financing/v3/health": {
      "get": {
        "tags": ["financing-v3"],
        "summary": "getHealth",
        "operationId": "getHealthUsingGET_1",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "description": "timeout",
            "required": false,
            "type": "integer",
            "default": 2000,
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/IssueList" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v3/products/offers": {
      "post": {
        "tags": ["financing-v3"],
        "summary": "calculateOffers",
        "operationId": "calculateOffersUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FinancingV3CalculateOffersRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FinancingCalculateOffersResult"
              }
            }
          },
          "201": { "description": "Created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/rest/financing/v3/registers": {
      "get": {
        "tags": ["financing-v3"],
        "summary": "getRegister",
        "operationId": "getRegisterUsingGET",
        "produces": ["*/*"],
        "parameters": [
          {
            "name": "register",
            "in": "query",
            "description": "register",
            "required": true,
            "type": "string",
            "enum": ["GOODS_QUALITY", "GOODS_TYPE", "SHIPPING_CARRIER"]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/RegisterResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "AcademicIdentificationDocumentFull": {
      "type": "object",
      "required": ["firstName", "lastName", "number", "type"],
      "properties": {
        "firstName": {
          "type": "string",
          "description": "Academic card first name"
        },
        "issuer": { "type": "string", "description": "Issuer of document" },
        "lastName": {
          "type": "string",
          "description": "Academic card last name"
        },
        "number": {
          "type": "string",
          "description": "Number of the identification document",
          "minLength": 0,
          "maxLength": 100
        },
        "type": {
          "type": "string",
          "description": "Academic card type",
          "enum": ["ALIVE", "ISIC", "ISIC_SCHOLAR", "ITIC", "IYTC"]
        },
        "validity": {
          "type": "string",
          "format": "date",
          "description": "Date, until which the document is valid<br>Required only in FullDocument context"
        }
      },
      "title": "AcademicIdentificationDocumentFull"
    },
    "AccountIban": {
      "type": "object",
      "required": ["iban"],
      "properties": { "iban": { "type": "string" } },
      "title": "AccountIban"
    },
    "AccountNational": {
      "type": "object",
      "required": ["accountNumber", "bankCode"],
      "properties": {
        "accountNumber": {
          "type": "string",
          "description": "Account number. For domestic accounts, this will be specified in national format."
        },
        "bankCode": {
          "type": "string",
          "description": "For domestic accounts, bank code in national format"
        },
        "prefix": {
          "type": "string",
          "description": "Account number prefix. For domestic accounts, this will be specified in national format."
        }
      },
      "title": "AccountNational"
    },
    "Address": {
      "type": "object",
      "required": ["city", "flags", "streetAddress", "streetNumber", "zip"],
      "properties": {
        "city": {
          "type": "string",
          "description": "city",
          "minLength": 0,
          "maxLength": 40
        },
        "country": { "type": "string", "minLength": 0, "maxLength": 30 },
        "flags": {
          "type": "array",
          "description": "type of the address. Only some of the types are allowed in each context.",
          "items": {
            "type": "string",
            "enum": ["BILLING", "CONTACT", "DELIVERY", "PERMANENT"]
          }
        },
        "streetAddress": {
          "type": "string",
          "description": "street/city part",
          "minLength": 0,
          "maxLength": 50,
          "pattern": "[0-9a-zA-Zá-žÁ-Ž/\\-  '.]*"
        },
        "streetNumber": {
          "type": "string",
          "description": "street number",
          "minLength": 0,
          "maxLength": 10
        },
        "zip": { "type": "string", "description": "postal code" }
      },
      "title": "Address"
    },
    "AddressBase": {
      "type": "object",
      "required": ["city", "streetAddress", "streetNumber", "zip"],
      "properties": {
        "city": {
          "type": "string",
          "description": "city",
          "minLength": 0,
          "maxLength": 40
        },
        "country": { "type": "string", "minLength": 0, "maxLength": 30 },
        "streetAddress": {
          "type": "string",
          "description": "street/city part",
          "minLength": 0,
          "maxLength": 50,
          "pattern": "[0-9a-zA-Zá-žÁ-Ž/\\-  '.]*"
        },
        "streetNumber": {
          "type": "string",
          "description": "street number",
          "minLength": 0,
          "maxLength": 10
        },
        "zip": { "type": "string", "description": "postal code" }
      },
      "title": "AddressBase"
    },
    "Amount": {
      "type": "object",
      "required": ["currency", "value"],
      "properties": {
        "currency": { "type": "string" },
        "value": { "type": "number" }
      },
      "title": "Amount"
    },
    "ApplicationContact": {
      "type": "object",
      "required": ["contactType"],
      "properties": {
        "contactType": {
          "type": "string",
          "enum": ["EMAIL", "FAX", "MOBILE", "PHONE", "WEB"]
        },
        "email": { "$ref": "#/definitions/Email" },
        "mobile": { "$ref": "#/definitions/Phone" },
        "phone": { "$ref": "#/definitions/Phone" }
      },
      "title": "ApplicationContact"
    },
    "BankAccount": {
      "type": "object",
      "properties": {
        "iban": { "$ref": "#/definitions/AccountIban" },
        "national": { "$ref": "#/definitions/AccountNational" },
        "type": { "type": "string", "enum": ["IBAN", "NATIONAL"] }
      },
      "title": "BankAccount"
    },
    "BirthCertificateFull": {
      "type": "object",
      "required": ["number"],
      "properties": {
        "issuer": { "type": "string", "description": "Issuer of document" },
        "number": {
          "type": "string",
          "description": "Number of the identification document",
          "minLength": 0,
          "maxLength": 100
        }
      },
      "title": "BirthCertificateFull"
    },
    "BrokeredOrder": {
      "type": "object",
      "required": ["merchantOrders"],
      "properties": {
        "merchantOrders": {
          "type": "array",
          "description": "Merchant orders",
          "items": { "$ref": "#/definitions/MerchantOrder" }
        }
      },
      "title": "BrokeredOrder"
    },
    "CalculationDetail": {
      "type": "object",
      "properties": {
        "amountToPay": {
          "description": "Total amount paid by customer",
          "$ref": "#/definitions/Amount"
        },
        "annualInterestRate": {
          "type": "number",
          "description": "Annual interest rate\ne.g. 0.17"
        },
        "annualPercentageRate": {
          "type": "number",
          "description": "RPSN\ne.g. 0.23"
        },
        "installment": {
          "description": "Installment amount",
          "$ref": "#/definitions/Amount"
        },
        "installmentDay": {
          "type": "number",
          "description": "Installment date (day in month)\ne.g. 20"
        },
        "installmentFirstDate": {
          "type": "string",
          "example": "yyyy-MM-dd['T'HH:mm:ss[xxx]]",
          "description": "Date of the first installment\ne.g. 2017-05-20"
        },
        "installmentLastDate": {
          "type": "string",
          "example": "yyyy-MM-dd['T'HH:mm:ss[xxx]]",
          "description": "Date of the last installment\ne.g. 2018-03-20"
        },
        "legalLine": {
          "type": "string",
          "description": "Text interpretation of the offer\ne.g.\n\"Uvedené hodnoty jsou spočítány k datu poskytnutí 18.1.2017, datu 1. splátky 20.1.2017 a se splatností všech dalších splátek k 20. dni v měsíci počítaje 20.1.2017. Nejedná se o nabídku či veřejnou nabídku. Platí při splnění podmínek Home Credit....\""
        },
        "maturityTextForm": {
          "type": "string",
          "description": "Text representation of maturity\ne.g. 3 roky a 8 měsíců"
        },
        "maximalAnnualPercentageRate": {
          "type": "number",
          "description": "Maximal RPSN for given product segment"
        },
        "numberOfInstallments": {
          "type": "integer",
          "format": "int32",
          "description": "Number of installments"
        },
        "predictedProvisionDate": {
          "type": "string",
          "example": "yyyy-MM-dd['T'HH:mm:ss[xxx]]",
          "description": "Predicted provision date\ne.g. 2017-05-20"
        }
      },
      "title": "CalculationDetail"
    },
    "CallDate": {
      "type": "object",
      "required": ["date"],
      "properties": {
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "Wrapped call date"
        }
      },
      "title": "CallDate"
    },
    "CallRequest": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "dates": {
          "type": "array",
          "description": "Call request preferred dates",
          "items": { "$ref": "#/definitions/CallDate" }
        },
        "type": {
          "type": "string",
          "description": "Type of call request",
          "enum": ["DATES"]
        }
      },
      "title": "CallRequest"
    },
    "Cancellation": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ANOTHER_APPLICATION_IN_PROGRESS",
            "DIFFERENT_REGISTER_DATA",
            "INCONSISTENT_VERIFICATION_DATA",
            "MISMATCH_REPRESENTATIVE",
            "MISSING_OFFER",
            "PARAMETERS_CHANGED",
            "UNDEFINED",
            "UNSUPPORTED_CLIENT_SEGMENT",
            "UNSUPPORTED_PROCESS",
            "VERIFICATION_INVALID",
            "WITHDRAWAL_FROM_CONTRACT"
          ]
        }
      },
      "title": "Cancellation"
    },
    "CarLoanOrder": {
      "type": "object",
      "required": ["requiredDocuments"],
      "properties": {
        "requiredDocuments": {
          "type": "array",
          "description": "Required documents",
          "items": { "$ref": "#/definitions/RequiredDocumentDetail" }
        }
      },
      "title": "CarLoanOrder"
    },
    "CashBase": {
      "type": "object",
      "required": ["financing"],
      "properties": {
        "amount": {
          "description": "Loaned amount",
          "$ref": "#/definitions/Amount"
        },
        "financing": {
          "description": "Cash financing",
          "$ref": "#/definitions/CashFinancing"
        }
      },
      "title": "CashBase"
    },
    "CashFinancing": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "cashLoan": {
          "description": "Settings cash loan",
          "$ref": "#/definitions/CashLoanSettings"
        },
        "loanWallet": {
          "description": "Settings loan wallet",
          "$ref": "#/definitions/LoanWalletSettings"
        },
        "type": {
          "type": "string",
          "description": "Cash financing type",
          "enum": ["CASH_LOAN", "LOAN_WALLET"]
        }
      },
      "title": "CashFinancing"
    },
    "CashLoanSettings": {
      "type": "object",
      "properties": {
        "preferredInstallment": {
          "description": "Preferred installment amount",
          "$ref": "#/definitions/Amount"
        },
        "preferredNumberOfInstallments": {
          "type": "integer",
          "format": "int64",
          "description": "Preferred number of installments"
        },
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Code of product set"
        }
      },
      "title": "CashLoanSettings"
    },
    "ClientExtraData": {
      "type": "object",
      "properties": {
        "cartItemsRemoved": {
          "type": "integer",
          "format": "int64",
          "description": "Total count of removed items form shopping basket during current shopping"
        },
        "cashlessTransactionsNumber": {
          "type": "integer",
          "format": "int64",
          "description": "Historical count of customer's cashless transactions made in partner's e-shop"
        },
        "cashlessTransactionsSum": {
          "description": "Sum of all cashless transactions made in partner's e-shop",
          "$ref": "#/definitions/Amount"
        },
        "earliestTransactionDate": {
          "type": "string",
          "example": "yyyy-MM-dd",
          "description": "oldest transaction date on partner e-shop"
        },
        "itemsViewed": {
          "type": "integer",
          "format": "int64",
          "description": "Number of viewed pages with products"
        },
        "latestTransactionDate": {
          "type": "string",
          "example": "yyyy-MM-dd",
          "description": "newest transaction date on partner e-shop."
        },
        "pageReviewsTime": {
          "type": "integer",
          "format": "int64",
          "description": "Total time spent on partners website in review and comments sections (in seconds)"
        },
        "pageTotalTime": {
          "type": "integer",
          "format": "int64",
          "description": "Total time spent on partners website (in seconds)"
        },
        "transactionsNumber": {
          "type": "integer",
          "format": "int64",
          "description": "Historical count of customer's cash transactions made in partner's e-shop"
        },
        "transactionsSum": {
          "description": "Sum of all cash transactions made in partner's e-shop",
          "$ref": "#/definitions/Amount"
        }
      },
      "title": "ClientExtraData"
    },
    "CompanyAdditionalData": {
      "type": "object",
      "properties": {
        "offshoreUnits": { "type": "boolean" },
        "publicOrganizationStructure": { "type": "boolean" },
        "silentPartner": { "type": "boolean" }
      },
      "title": "CompanyAdditionalData"
    },
    "CompanyIncome": {
      "type": "object",
      "properties": {
        "primary": { "$ref": "#/definitions/PrimaryCompanyIncome" }
      },
      "title": "CompanyIncome"
    },
    "ConsolidationSettings": {
      "type": "object",
      "properties": {
        "installment": {
          "description": "Installment amount",
          "$ref": "#/definitions/Amount"
        },
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Code of product set"
        }
      },
      "title": "ConsolidationSettings"
    },
    "ConsumerLoanSettings": {
      "type": "object",
      "properties": {
        "preferredInstallment": {
          "description": "Preferred installment amount",
          "$ref": "#/definitions/Amount"
        },
        "preferredMonths": {
          "type": "integer",
          "format": "int64",
          "description": "Preferred number of installments (in months)"
        },
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Code of product set"
        }
      },
      "title": "ConsumerLoanSettings"
    },
    "ContractDuration": {
      "type": "object",
      "properties": {
        "employedFrom": { "type": "string", "format": "date" },
        "fixedTerm": { "$ref": "#/definitions/ContractDurationFixedTerm" },
        "type": { "type": "string", "enum": ["FIXED_TERM", "PERMANENT"] }
      },
      "title": "ContractDuration"
    },
    "ContractDurationFixedTerm": {
      "type": "object",
      "properties": { "employedTo": { "type": "string", "format": "date" } },
      "title": "ContractDurationFixedTerm"
    },
    "ContractTariff": {
      "type": "object",
      "required": ["code"],
      "properties": {
        "code": { "type": "string", "enum": ["STANDARD", "BASIC", "PLUS"] },
        "fee": { "$ref": "#/definitions/Amount" }
      },
      "title": "ContractTariff"
    },
    "Detail": {
      "type": "object",
      "properties": {
        "annualInterestRate": {
          "type": "number",
          "description": "Annual interest rate\ne.g. 0.17"
        },
        "installmentDay": {
          "type": "number",
          "description": "Installment date (day in month)\ne.g. 20"
        },
        "installmentFirstDate": {
          "type": "string",
          "format": "date",
          "description": "Date of the first installment\ne.g. 2017-05-20"
        },
        "installmentLastDate": {
          "type": "string",
          "format": "date",
          "description": "Date of the last installment\ne.g. 2018-03-20"
        },
        "legalline": {
          "type": "string",
          "description": "Text interpretation of the offer\ne.g.\n\"Uvedené hodnoty jsou spočítány k datu poskytnutí 18.1.2017, datu 1. splátky 20.1.2017 a se splatností všech dalších splátek k 20. dni v měsíci počítaje 20.1.2017. Nejedná se o nabídku či veřejnou nabídku. Platí při splnění podmínek Home Credit....\""
        },
        "paidBack": {
          "description": "Total amount paid by customer",
          "$ref": "#/definitions/Amount"
        },
        "predictedProvisionDate": {
          "type": "string",
          "format": "date",
          "description": "Predicted provision date\ne.g. 2017-05-20"
        },
        "rpsn": { "type": "number", "description": "RPSN\ne.g. 0.23" }
      },
      "title": "Detail"
    },
    "Email": {
      "type": "object",
      "required": ["value"],
      "properties": { "value": { "type": "string" } },
      "title": "Email"
    },
    "Employee": {
      "type": "object",
      "properties": {
        "businessArea": {
          "type": "string",
          "enum": [
            "AGRICULTURE",
            "ARMS",
            "AUTOMOTIVE",
            "BEAUTY_SERVICES",
            "CONSTRUCTION_INDUSTRY",
            "CRYPTOCURRENCY_OR_PRECIOUS_METAL_TRADING",
            "CULTURE",
            "EDUCATION_OR_SCIENCE_AND_RESEARCH",
            "FINANCIAL_SERVICES",
            "GAMBLING_OR_MONEY_EXCHANGE",
            "HEALTH_CARE_AND_PHARMACY",
            "HOSPITALITY",
            "IT",
            "LEGAL_SERVICES_OR_REAL_ESTATE_OR_FINANCIAL_ADVISER",
            "MINING_INDUSTRY",
            "OTHER_MANUFACTURE_AND_INDUSTRY",
            "OTHER_TRADE_AND_SERVICES",
            "RETAIL_SALES",
            "STATE_ADMINISTRATION",
            "TAXI",
            "TRANSPORT_AND_LOGISTICS",
            "USED_GOODS_SALE"
          ]
        },
        "positionType": {
          "type": "string",
          "enum": ["REGULAR_EMPLOYEE", "TOP_MANAGEMENT"]
        },
        "contractDuration": { "$ref": "#/definitions/ContractDuration" },
        "employer": { "$ref": "#/definitions/Employer" }
      },
      "title": "Employee"
    },
    "Employer": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "items": { "$ref": "#/definitions/AddressBase" }
        },
        "businessIdentificationNumber": {
          "type": "string",
          "minLength": 0,
          "maxLength": 100
        },
        "name": { "type": "string", "minLength": 0, "maxLength": 200 }
      },
      "title": "Employer"
    },
    "Entrepreneur": {
      "type": "object",
      "properties": {
        "activeFrom": { "type": "string", "format": "date" },
        "addresses": {
          "type": "array",
          "items": { "$ref": "#/definitions/AddressBase" }
        },
        "businessArea": {
          "type": "string",
          "enum": [
            "AGRICULTURE",
            "ARMS",
            "AUTOMOTIVE",
            "BEAUTY_SERVICES",
            "CONSTRUCTION_INDUSTRY",
            "CRYPTOCURRENCY_OR_PRECIOUS_METAL_TRADING",
            "CULTURE",
            "EDUCATION_OR_SCIENCE_AND_RESEARCH",
            "FINANCIAL_SERVICES",
            "GAMBLING_OR_MONEY_EXCHANGE",
            "HEALTH_CARE_AND_PHARMACY",
            "HOSPITALITY",
            "IT",
            "LEGAL_SERVICES_OR_REAL_ESTATE_OR_FINANCIAL_ADVISER",
            "MINING_INDUSTRY",
            "OTHER_MANUFACTURE_AND_INDUSTRY",
            "OTHER_TRADE_AND_SERVICES",
            "RETAIL_SALES",
            "STATE_ADMINISTRATION",
            "TAXI",
            "TRANSPORT_AND_LOGISTICS",
            "USED_GOODS_SALE"
          ]
        },
        "businessIdentificationNumber": {
          "type": "string",
          "minLength": 0,
          "maxLength": 100
        },
        "name": { "type": "string", "minLength": 0, "maxLength": 200 }
      },
      "title": "Entrepreneur"
    },
    "ExtendedGuarantee": {
      "type": "object",
      "required": ["amount", "serviceVariantCode"],
      "properties": {
        "amount": {
          "description": "Amount of external service",
          "$ref": "#/definitions/Amount"
        },
        "serviceVariantCode": {
          "type": "string",
          "description": "Code variant of service"
        }
      },
      "title": "ExtendedGuarantee"
    },
    "FileData": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "File content (Base64 encoded, maximum size of encoded string is 500kB)"
        },
        "filename": { "type": "string", "description": "file name" },
        "url": { "type": "string", "description": "File URL" }
      },
      "title": "FileData"
    },
    "FinancedSubjectBase": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "cash": {
          "description": "Information about customers's cash loan",
          "$ref": "#/definitions/CashBase"
        },
        "liability": {
          "description": "Information about customers's liability",
          "$ref": "#/definitions/LiabilityBase"
        },
        "order": {
          "description": "Information about customers's purchase of goods",
          "$ref": "#/definitions/OrderBase"
        },
        "type": {
          "type": "string",
          "description": "Type of the financed subject",
          "enum": ["CASH", "ORDER", "LIABILITY", "WALLET"]
        },
        "wallet": {
          "description": "Information about customers's wallet",
          "$ref": "#/definitions/WalletBase"
        }
      },
      "title": "FinancedSubjectBase"
    },
    "FinancialDataCompany": {
      "type": "object",
      "properties": {
        "amount": { "$ref": "#/definitions/Amount" },
        "incomeStatement": { "$ref": "#/definitions/Amount" },
        "taxBase": { "$ref": "#/definitions/Amount" },
        "turnover": { "$ref": "#/definitions/FinancialTurnover" }
      },
      "title": "FinancialDataCompany"
    },
    "FinancialTurnover": {
      "type": "object",
      "properties": {
        "amount": { "$ref": "#/definitions/Amount" },
        "period": { "type": "string", "enum": ["QUARTERLY"] }
      },
      "title": "FinancialTurnover"
    },
    "FinancingApplicationBase": {
      "type": "object",
      "required": ["id", "status", "workflowSteps"],
      "properties": {
        "id": { "type": "string", "description": "Unique identifier in HCO" },
        "status": {
          "type": "string",
          "description": "Application status",
          "enum": [
            "CREATED",
            "VERIFICATION",
            "PRESCORED",
            "APPROVED",
            "REJECTED",
            "ALTERNATIVE",
            "CONFIRMED",
            "CANCELLED"
          ]
        },
        "workflowSteps": {
          "type": "array",
          "description": "Collection of application process actions available for current application status",
          "items": { "$ref": "#/definitions/FinancingWorkflowStep" }
        }
      },
      "title": "FinancingApplicationBase"
    },
    "FinancingCalculateOffersResult": {
      "type": "object",
      "properties": {
        "consolidation": { "$ref": "#/definitions/FinancingProductOffer" },
        "loanWallet": { "$ref": "#/definitions/FinancingLoanWalletOffer" },
        "type": { "type": "string", "enum": ["CONSOLIDATION", "LOAN_WALLET"] }
      },
      "title": "FinancingCalculateOffersResult"
    },
    "FinancingCash": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "Loaned amount",
          "$ref": "#/definitions/Amount"
        },
        "financing": {
          "description": "Cash financing",
          "$ref": "#/definitions/FinancingCashFinancing"
        },
        "status": {
          "type": "string",
          "description": "Status",
          "enum": ["TO_PAY", "IN_PROCESS", "CANCELED", "PAID"]
        }
      },
      "title": "FinancingCash"
    },
    "FinancingCashBase": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "Loaned amount",
          "$ref": "#/definitions/Amount"
        },
        "financing": {
          "description": "Cash financing",
          "$ref": "#/definitions/FinancingCashFinancing"
        }
      },
      "title": "FinancingCashBase"
    },
    "FinancingCashCalculateOffers": {
      "type": "object",
      "properties": {
        "amount": { "$ref": "#/definitions/Amount" },
        "financing": { "$ref": "#/definitions/CashFinancing" }
      },
      "title": "FinancingCashCalculateOffers"
    },
    "FinancingCashFinancing": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "cashLoan": {
          "description": "Settings cash loan",
          "$ref": "#/definitions/FinancingSettings"
        },
        "loanWallet": {
          "description": "Settings loan wallet",
          "$ref": "#/definitions/FinancingLoanWalletSettings"
        },
        "type": {
          "type": "string",
          "description": "Cash financing type",
          "enum": ["CASH_LOAN", "LOAN_WALLET"]
        }
      },
      "title": "FinancingCashFinancing"
    },
    "FinancingConsolidationSettings": {
      "type": "object",
      "properties": {
        "installment": {
          "description": "Installment amount",
          "$ref": "#/definitions/Amount"
        },
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Code of product set"
        }
      },
      "title": "FinancingConsolidationSettings"
    },
    "FinancingFile": {
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "File content (Base64 encoded, maximum size of encoded string is 500kB)"
        },
        "filename": { "type": "string", "description": "file name" },
        "url": { "type": "string", "description": "File URL" }
      },
      "title": "FinancingFile"
    },
    "FinancingFinancedSubjectAbstract": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the financed subject",
          "enum": ["CASH", "LIABILITY", "ORDER", "WALLET"]
        }
      },
      "title": "FinancingFinancedSubjectAbstract"
    },
    "FinancingFinancedSubjectCalculateOffers": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "cash": { "$ref": "#/definitions/FinancingCashCalculateOffers" },
        "liability": {
          "$ref": "#/definitions/FinancingLiabilityCalculateOffers"
        },
        "type": {
          "type": "string",
          "description": "Type of the financed subject",
          "enum": ["CASH", "ORDER", "LIABILITY", "WALLET"]
        }
      },
      "title": "FinancingFinancedSubjectCalculateOffers"
    },
    "FinancingInstallmentSettings": {
      "type": "object",
      "properties": {
        "preferredInstallment": {
          "description": "Preferred installment amount",
          "$ref": "#/definitions/Amount"
        },
        "preferredMonths": {
          "type": "integer",
          "format": "int64",
          "description": "Preferred number of installments (in months)"
        },
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Code of product set"
        }
      },
      "title": "FinancingInstallmentSettings"
    },
    "FinancingLiabilityBase": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "Liability amount",
          "$ref": "#/definitions/Amount"
        },
        "financing": {
          "description": "Liability financing",
          "$ref": "#/definitions/FinancingLiabilityFinancing"
        }
      },
      "title": "FinancingLiabilityBase"
    },
    "FinancingLiabilityCalculate": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "consolidation": {
          "description": "Consolidation settings",
          "$ref": "#/definitions/FinancingLiabilityCalculateSettings"
        },
        "type": { "type": "string", "enum": ["CONSOLIDATION"] }
      },
      "title": "FinancingLiabilityCalculate"
    },
    "FinancingLiabilityCalculateOffers": {
      "type": "object",
      "properties": {
        "amount": { "$ref": "#/definitions/Amount" },
        "financing": { "$ref": "#/definitions/FinancingLiabilityCalculate" }
      },
      "title": "FinancingLiabilityCalculateOffers"
    },
    "FinancingLiabilityCalculateSettings": {
      "type": "object",
      "properties": {
        "productCode": { "type": "string" },
        "productSetCode": { "type": "string" }
      },
      "title": "FinancingLiabilityCalculateSettings"
    },
    "FinancingLiabilityFinancing": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "consolidation": {
          "description": "Consolidation settings",
          "$ref": "#/definitions/FinancingConsolidationSettings"
        },
        "type": {
          "type": "string",
          "description": "Liability financing type",
          "enum": ["CONSOLIDATION"]
        }
      },
      "title": "FinancingLiabilityFinancing"
    },
    "FinancingLoanWalletOffer": {
      "type": "object",
      "properties": {
        "calculation": { "$ref": "#/definitions/CalculationDetail" },
        "creditAmount": { "$ref": "#/definitions/PossibleCreditAmount" },
        "flags": {
          "type": "array",
          "items": { "type": "string", "enum": ["FAVOURITE"] }
        },
        "productCode": { "type": "string" },
        "repaymentExamples": {
          "type": "array",
          "items": { "$ref": "#/definitions/FinancingRepaymentExample" }
        }
      },
      "title": "FinancingLoanWalletOffer"
    },
    "FinancingLoanWalletSettings": {
      "type": "object",
      "properties": {
        "preferredInstallment": {
          "description": "Preferred installment amount",
          "$ref": "#/definitions/Amount"
        },
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Code of product set"
        },
        "repaymentExamples": {
          "type": "array",
          "items": { "$ref": "#/definitions/FinancingRepaymentExample" }
        }
      },
      "title": "FinancingLoanWalletSettings"
    },
    "FinancingMerchantOrder": {
      "type": "object",
      "required": ["name"],
      "properties": {
        "businessId": {
          "type": "string",
          "description": "Company identification number",
          "minLength": 0,
          "maxLength": 8,
          "pattern": "\\d*"
        },
        "items": {
          "type": "array",
          "description": "Information about particular item's of merchant order",
          "items": { "$ref": "#/definitions/FinancingOrderItem" }
        },
        "logo": {
          "description": "Merchant's logo",
          "$ref": "#/definitions/FinancingFile"
        },
        "name": {
          "type": "string",
          "description": "Merchant name",
          "minLength": 0,
          "maxLength": 60
        },
        "number": {
          "type": "string",
          "description": "Internal order number of the merchant (e-shop, POS shop). ",
          "minLength": 0,
          "maxLength": 100
        },
        "url": {
          "type": "string",
          "description": "URL of the merchant's web site (e-shop)",
          "minLength": 0,
          "maxLength": 1000
        }
      },
      "title": "FinancingMerchantOrder"
    },
    "FinancingOrderItem": {
      "type": "object",
      "required": ["name", "totalPrice"],
      "properties": {
        "code": {
          "type": "string",
          "description": "Internal code for item (internal to e-shop). Used to better identify the item for future changes",
          "minLength": 0,
          "maxLength": 100
        },
        "ean": {
          "type": "string",
          "description": "EAN code",
          "minLength": 0,
          "maxLength": 32
        },
        "image": {
          "description": "item image",
          "$ref": "#/definitions/FinancingFile"
        },
        "name": { "type": "string", "description": "Item name" },
        "producer": { "type": "string", "description": "Producer" },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Item quantity. If empty, considered as 1"
        },
        "totalPrice": {
          "description": "total price for all pieces, VAT inclusive",
          "$ref": "#/definitions/Amount"
        },
        "type": {
          "type": "string",
          "description": "item type",
          "enum": [
            "DIGITAL",
            "DISCOUNT",
            "FEE",
            "GIFT_CARD",
            "INSURANCE",
            "PHYSICAL",
            "SALES_TAX",
            "SHIPPING_FEE",
            "STORE_CREDIT"
          ]
        },
        "unitPrice": {
          "description": "Price per one piece",
          "$ref": "#/definitions/Amount"
        }
      },
      "title": "FinancingOrderItem"
    },
    "FinancingOrderItemBase": {
      "type": "object",
      "required": ["name"],
      "properties": {
        "code": {
          "type": "string",
          "description": "Internal code for item (internal to e-shop). Used to better identify the item for future changes",
          "minLength": 0,
          "maxLength": 100
        },
        "ean": {
          "type": "string",
          "description": "EAN code",
          "minLength": 0,
          "maxLength": 32
        },
        "name": { "type": "string", "description": "Item name" },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Item quantity. If empty, considered as 1"
        }
      },
      "title": "FinancingOrderItemBase"
    },
    "FinancingParameter": {
      "type": "object",
      "required": ["type"],
      "properties": {
        "amount": {
          "description": "Financing amount",
          "$ref": "#/definitions/Amount"
        },
        "amountWithoutVat": {
          "description": "Financing amount without VAT",
          "$ref": "#/definitions/Amount"
        },
        "type": {
          "type": "string",
          "description": "Type of financing",
          "enum": [
            "BASE",
            "EARLY_REPAYMENT_FEE",
            "EARNING",
            "EXCESSIVE_WEAR_FEE",
            "REDEMPTION_VALUE",
            "RESIDUAL_VALUE"
          ]
        }
      },
      "title": "FinancingParameter"
    },
    "FinancingProductOffer": {
      "type": "object",
      "properties": {
        "calculation": { "$ref": "#/definitions/CalculationDetail" },
        "creditAmount": { "$ref": "#/definitions/PossibleCreditAmount" },
        "flags": {
          "type": "array",
          "items": { "type": "string", "enum": ["FAVOURITE"] }
        },
        "productCode": { "type": "string" }
      },
      "title": "FinancingProductOffer"
    },
    "FinancingRedirectUrl": {
      "type": "object",
      "properties": {
        "gatewayRedirectUrl": {
          "type": "string",
          "description": "Gateway redirect URL. Redirect user to this URL to complete this application."
        }
      },
      "title": "FinancingRedirectUrl"
    },
    "FinancingRepaymentExample": {
      "type": "object",
      "properties": {
        "amountToPay": { "$ref": "#/definitions/Amount" },
        "flags": {
          "type": "array",
          "items": { "type": "string", "enum": ["FAVOURITE"] }
        },
        "installment": { "$ref": "#/definitions/Amount" },
        "maturityTextForm": { "type": "string" },
        "numberOfInstallments": { "type": "integer", "format": "int32" }
      },
      "title": "FinancingRepaymentExample"
    },
    "FinancingSettings": {
      "type": "object",
      "properties": {
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Code of product set"
        }
      },
      "title": "FinancingSettings"
    },
    "FinancingV1AdditionalDataRequest": {
      "type": "object",
      "properties": {
        "idCard": { "type": "string", "description": "ID card number" },
        "idCardExpiryDate": {
          "type": "string",
          "format": "date",
          "description": "ID card expiration date"
        },
        "idCardScan": {
          "description": "ID card scan",
          "$ref": "#/definitions/FinancingV1IdCardScan"
        },
        "personalId": {
          "type": "string",
          "description": "Personal identification number (format XXXXXXYYYY or XXXXXX/[Y]YYY)"
        }
      },
      "title": "FinancingV1AdditionalDataRequest"
    },
    "FinancingV1Address": {
      "type": "object",
      "properties": {
        "addressType": {
          "type": "string",
          "description": "type of the address. Only some of the types are allowed in each context.",
          "enum": ["PERMANENT", "CONTACT", "DELIVERY", "BILLING"]
        },
        "city": { "type": "string", "description": "city" },
        "name": { "type": "string", "description": "name on address" },
        "streetAddress": {
          "type": "string",
          "description": "street/city part"
        },
        "streetNumber": { "type": "string", "description": "street number" },
        "zip": { "type": "string", "description": "postal code" }
      },
      "title": "FinancingV1Address"
    },
    "FinancingV1Amount": {
      "type": "object",
      "required": ["amount", "currency"],
      "properties": {
        "amount": {
          "type": "number",
          "description": "Amount in decimal format"
        },
        "currency": {
          "type": "string",
          "description": "Amount currency. ISO 4217"
        }
      },
      "title": "FinancingV1Amount"
    },
    "FinancingV1Application": {
      "type": "object",
      "required": ["id", "state"],
      "properties": {
        "customer": {
          "description": "Customer data",
          "$ref": "#/definitions/FinancingV1CustomerBase"
        },
        "gatewayRedirectUrl": {
          "type": "string",
          "description": "Gateway redirect URL. Redirect user to this URL if state is PROCESSING and stateReason is PROCESSING_ADDITIONAL_DATA or PROCESSING_VERIFICATION or PROCESSING_REDIRECT_NEEDED."
        },
        "id": { "type": "string", "description": "Unique identifier in HCO" },
        "order": {
          "description": "Order data",
          "$ref": "#/definitions/FinancingV1Order"
        },
        "settingsConsumerLoan": {
          "description": "Settings for CONSUMER_LOAN financing type.",
          "$ref": "#/definitions/FinancingV1FinancingSettings"
        },
        "settingsGoodsFinancing": {
          "description": "Settings for GOODS_FINANCING financing type.",
          "$ref": "#/definitions/FinancingV1FinancingSettings"
        },
        "settingsInstallment": {
          "description": "Settings for INSTALLMENT financing type.",
          "$ref": "#/definitions/FinancingV1FinancingSettings"
        },
        "state": {
          "type": "string",
          "description": "Application state.",
          "enum": ["CANCELLED", "PROCESSING", "READY", "REJECTED"]
        },
        "stateReason": {
          "type": "string",
          "description": "Describes internal state of application, e.g. when state is PROCESSING - reason why application remains in processing state",
          "enum": [
            "CANCELLED_NOT_PAID",
            "CANCELLED_RETURNED",
            "CANCELLED_TO_RETURN",
            "PROCESSING_ADDITIONAL_DATA",
            "PROCESSING_ALT_OFFER",
            "PROCESSING_APPROVED",
            "PROCESSING_NEW",
            "PROCESSING_PREAPPROVED",
            "PROCESSING_REDIRECT_NEEDED",
            "PROCESSING_REVIEW",
            "PROCESSING_SIGNED",
            "PROCESSING_VALIDATION_IN_PROGRESS",
            "PROCESSING_VERIFICATION",
            "READY_DELIVERED",
            "READY_DELIVERING",
            "READY_PAID",
            "READY_SHIPPED",
            "READY_TO_SHIP",
            "REJECTED"
          ]
        },
        "type": {
          "type": "string",
          "description": "Financing type",
          "enum": [
            "CONSUMER_LOAN",
            "GOODS_FINANCING",
            "INSTALLMENT",
            "OPERATING_LEASE"
          ]
        }
      },
      "title": "FinancingV1Application"
    },
    "FinancingV1ApplicationBase": {
      "type": "object",
      "required": ["id", "state"],
      "properties": {
        "id": { "type": "string", "description": "Unique identifier in HCO" },
        "state": {
          "type": "string",
          "description": "Application state.",
          "enum": ["CANCELLED", "PROCESSING", "READY", "REJECTED"]
        },
        "stateReason": {
          "type": "string",
          "description": "Describes internal state of application, e.g. when state is PROCESSING - reason why application remains in processing state",
          "enum": [
            "CANCELLED_NOT_PAID",
            "CANCELLED_RETURNED",
            "CANCELLED_TO_RETURN",
            "PROCESSING_ADDITIONAL_DATA",
            "PROCESSING_ALT_OFFER",
            "PROCESSING_APPROVED",
            "PROCESSING_NEW",
            "PROCESSING_PREAPPROVED",
            "PROCESSING_REDIRECT_NEEDED",
            "PROCESSING_REVIEW",
            "PROCESSING_SIGNED",
            "PROCESSING_VALIDATION_IN_PROGRESS",
            "PROCESSING_VERIFICATION",
            "READY_DELIVERED",
            "READY_DELIVERING",
            "READY_PAID",
            "READY_SHIPPED",
            "READY_TO_SHIP",
            "REJECTED"
          ]
        }
      },
      "title": "FinancingV1ApplicationBase"
    },
    "FinancingV1ApplicationCancelRequest": {
      "type": "object",
      "properties": {
        "customReason": {
          "type": "string",
          "description": "Specification of APPLICATION_CANCELLED_OTHER reason"
        },
        "reason": {
          "type": "string",
          "description": "Reason of cancellation. Considered as APPLICATION_CANCELLED_OTHER if not set.",
          "enum": [
            "APPLICATION_CANCELLED_CARRIER_CHANGED",
            "APPLICATION_CANCELLED_CART_CONTENT_CHANGED",
            "APPLICATION_CANCELLED_BY_CUSTOMER",
            "APPLICATION_CANCELLED_BY_ERP",
            "APPLICATION_CANCELLED_EXPIRED",
            "APPLICATION_CANCELLED_UNFINISHED",
            "APPLICATION_CANCELLED_BY_ESHOP_RULES",
            "APPLICATION_CANCELLED_OTHER"
          ]
        }
      },
      "title": "FinancingV1ApplicationCancelRequest"
    },
    "FinancingV1ApplicationRequest": {
      "type": "object",
      "required": ["merchantUrls", "order", "type"],
      "properties": {
        "customer": {
          "description": "Customer information",
          "$ref": "#/definitions/FinancingV1ApplicationRequestCustomer"
        },
        "merchantUrls": {
          "description": "Collection of partner's URLs used for redirection of a customer back to a partner website or as a notification endpoint",
          "$ref": "#/definitions/FinancingV1MerchantUrls"
        },
        "order": {
          "description": "Order information",
          "$ref": "#/definitions/FinancingV1ApplicationRequestOrder"
        },
        "precheckIds": {
          "type": "array",
          "description": "Array of all precheck ids related to this application. See precheck operations and it's response (PrecheckResults).",
          "items": { "type": "string" }
        },
        "settingsConsumerLoan": {
          "description": "Settings for CONSUMER_LOAN financing type.",
          "$ref": "#/definitions/FinancingV1FinancingSettings"
        },
        "settingsGoodsFinancing": {
          "description": "Settings for GOODS_FINANCING financing type.",
          "$ref": "#/definitions/FinancingV1FinancingSettings"
        },
        "settingsInstallment": {
          "description": "Settings for INSTALLMENT financing type.",
          "$ref": "#/definitions/FinancingV1FinancingSettings"
        },
        "type": {
          "type": "string",
          "description": "Financing type",
          "enum": ["CONSUMER_LOAN", "GOODS_FINANCING", "INSTALLMENT"]
        }
      },
      "title": "FinancingV1ApplicationRequest"
    },
    "FinancingV1ApplicationRequestCustomer": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "addresses. Only `PERMANENT` and `CONTACT` types are allowed.",
          "items": { "$ref": "#/definitions/FinancingV1Address" }
        },
        "email": {
          "type": "string",
          "description": "E-mail address of customer"
        },
        "extraData": {
          "description": "additional data, that may improve the approval probability",
          "$ref": "#/definitions/FinancingV1CustomerExtraData"
        },
        "fingerprintComponents": {
          "type": "array",
          "items": { "$ref": "#/definitions/KeyValue" }
        },
        "firstName": {
          "type": "string",
          "description": "Customer first (given) name"
        },
        "fullName": {
          "type": "string",
          "description": "Customer full name, including academical degrees and salutation."
        },
        "ipAddress": {
          "type": "string",
          "description": "IPv4 or IPv6 address of a customer"
        },
        "lastName": {
          "type": "string",
          "description": "Customer last (family) name"
        },
        "phone": {
          "type": "string",
          "description": "Phone number with country code (including leading `+`)"
        },
        "tin": {
          "type": "string",
          "description": "tax identification number (ICO)"
        }
      },
      "title": "FinancingV1ApplicationRequestCustomer"
    },
    "FinancingV1ApplicationRequestOrder": {
      "type": "object",
      "required": ["items", "number", "totalPrice"],
      "properties": {
        "deliveryType": {
          "type": "string",
          "description": "delivery type, for `DELIVERY_CARRIER` type can be further specified by DeliveryCarrier attribute.Typ doruceni. Dopravcem, osobni prevzeti, online doruceni atd.",
          "enum": [
            "DELIVERY_CARRIER",
            "ONLINE",
            "PERSONAL_BRANCH",
            "PERSONAL_BRANCH_WITH_ASSISTANCE",
            "PERSONAL_PARTNER"
          ]
        },
        "items": {
          "type": "array",
          "description": "order items",
          "items": {
            "$ref": "#/definitions/FinancingV1ApplicationRequestOrderItem"
          }
        },
        "number": {
          "type": "string",
          "description": "order number (internal for e-shop)"
        },
        "reservationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time until order is reserved. After this date, e-shop does not guarantee items availability (if application processing is longer, it may endanger order fullfillment)."
        },
        "totalPrice": {
          "description": "total order amount, including VAT",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "variableSymbols": {
          "type": "array",
          "description": "variable symbols (internal for e-shop)",
          "items": { "type": "string" }
        }
      },
      "title": "FinancingV1ApplicationRequestOrder"
    },
    "FinancingV1ApplicationRequestOrderItem": {
      "type": "object",
      "required": ["name", "totalPrice"],
      "properties": {
        "code": {
          "type": "string",
          "description": "internal code for item (internal to e-shop). Used to better identify the item for future changes",
          "minLength": 0,
          "maxLength": 100
        },
        "ean": {
          "type": "string",
          "description": "EAN code",
          "minLength": 0,
          "maxLength": 32
        },
        "image": {
          "description": "item image",
          "$ref": "#/definitions/FinancingFile"
        },
        "name": { "type": "string", "description": "item name" },
        "producer": { "type": "string" },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Item quantity"
        },
        "totalPrice": {
          "description": "total price for all pieces, VAT inclusive",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "type": {
          "type": "string",
          "description": "item type",
          "enum": [
            "DIGITAL",
            "DISCOUNT",
            "FEE",
            "GIFT_CARD",
            "INSURANCE",
            "PHYSICAL",
            "SALES_TAX",
            "SHIPPING_FEE",
            "STORE_CREDIT"
          ]
        },
        "unitPrice": {
          "description": "Price per one piece",
          "$ref": "#/definitions/FinancingV1Amount"
        }
      },
      "title": "FinancingV1ApplicationRequestOrderItem"
    },
    "FinancingV1CustomerBase": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "addresses. Only `PERMANENT` and `CONTACT` types are allowed.",
          "items": { "$ref": "#/definitions/FinancingV1Address" }
        },
        "email": {
          "type": "string",
          "description": "E-mail address of customer"
        },
        "firstName": {
          "type": "string",
          "description": "Customer first (given) name"
        },
        "fullName": {
          "type": "string",
          "description": "Customer full name, including academical degrees and salutation."
        },
        "lastName": {
          "type": "string",
          "description": "Customer last (family) name"
        },
        "phone": {
          "type": "string",
          "description": "Phone number with country code (including leading `+`)"
        },
        "tin": {
          "type": "string",
          "description": "tax identification number (ICO)"
        }
      },
      "title": "FinancingV1CustomerBase"
    },
    "FinancingV1CustomerExtraData": {
      "type": "object",
      "properties": {
        "cartItemsRemoved": {
          "type": "integer",
          "format": "int64",
          "description": "Total count of removed items form shopping basket during current shopping"
        },
        "cashlessTransactionsNumber": {
          "type": "integer",
          "format": "int64",
          "description": "Historical count of customer's cashless transactions made in partner's e-shop"
        },
        "cashlessTransactionsSum": {
          "description": "Sum of all cashless transactions made in partner's e-shop",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "earliestTransactionDate": {
          "type": "string",
          "format": "date",
          "description": "oldest transaction date on partner e-shop"
        },
        "itemsViewed": {
          "type": "integer",
          "format": "int64",
          "description": "Number of viewed pages with products"
        },
        "latestTransactionDate": {
          "type": "string",
          "format": "date",
          "description": "newest transaction date on partner e-shop."
        },
        "pageReviewsTime": {
          "type": "integer",
          "format": "int64",
          "description": "Total time spent on partners website in review and comments sections (in seconds)"
        },
        "pageTotalTime": {
          "type": "integer",
          "format": "int64",
          "description": "Total time spent on partners website (in seconds)"
        },
        "transactionsNumber": {
          "type": "integer",
          "format": "int64",
          "description": "Historical count of customer's cash transactions made in partner's e-shop"
        },
        "transactionsSum": {
          "description": "Sum of all cash transactions made in partner's e-shop",
          "$ref": "#/definitions/FinancingV1Amount"
        }
      },
      "title": "FinancingV1CustomerExtraData"
    },
    "FinancingV1DeliveryCarrier": {
      "type": "object",
      "properties": {
        "carrierCustom": {
          "type": "string",
          "description": "for carriers not found in enumeration of customer ID, specify value as text"
        },
        "carrierId": {
          "type": "string",
          "enum": [
            "CZ_POST_HAND",
            "CZ_POST_OFFICE",
            "CZ_POST_OTHER",
            "PPL",
            "DPD",
            "GEIS",
            "IN_TIME",
            "TOP_TRANS",
            "GEBRUDER_WEISS",
            "LOCAL_COURIER",
            "TNT",
            "GLS",
            "HDS_COMFORT",
            "HDS_STANDARD"
          ]
        }
      },
      "title": "FinancingV1DeliveryCarrier"
    },
    "FinancingV1Document": {
      "type": "object",
      "required": ["file", "type"],
      "properties": {
        "description": { "type": "string", "description": "File description" },
        "extraData": {
          "description": "Additional data, if applicable",
          "$ref": "#/definitions/FinancingV1DocumentExtraData"
        },
        "file": {
          "description": "Attached file",
          "$ref": "#/definitions/FinancingFile"
        },
        "type": {
          "type": "string",
          "description": "Type of the document",
          "enum": ["INVOICE", "PROFORMA_INVOICE", "CREDIT_NOTE", "OTHER"]
        }
      },
      "title": "FinancingV1Document"
    },
    "FinancingV1DocumentExtraData": {
      "type": "object",
      "properties": {
        "variableSymbol": {
          "type": "string",
          "description": "variable symbol (internal for e-shop)"
        }
      },
      "title": "FinancingV1DocumentExtraData"
    },
    "FinancingV1FinancingSettings": {
      "type": "object",
      "properties": {
        "preferredDownPayment": {
          "description": "Preferred down payment amount",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "preferredInstallment": {
          "description": "Preferred installment amount",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "preferredMonths": {
          "type": "integer",
          "format": "int64",
          "description": "Preferred number of installments (in months)"
        },
        "productCode": {
          "type": "string",
          "description": "Product code, this indicates previous calculation result"
        },
        "productSetCode": {
          "type": "string",
          "description": "Product set code, this will limit further calculations"
        }
      },
      "title": "FinancingV1FinancingSettings"
    },
    "FinancingV1IdCardScan": {
      "type": "object",
      "properties": {
        "back": {
          "description": "Back side",
          "$ref": "#/definitions/FinancingFile"
        },
        "front": {
          "description": "Front side",
          "$ref": "#/definitions/FinancingFile"
        }
      },
      "title": "FinancingV1IdCardScan"
    },
    "FinancingV1Limit": {
      "type": "object",
      "required": ["availableLimit", "totalLimit"],
      "properties": {
        "availableLimit": {
          "description": "Customer's available limit",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "totalLimit": {
          "description": "Customer's global limit",
          "$ref": "#/definitions/FinancingV1Amount"
        }
      },
      "title": "FinancingV1Limit"
    },
    "FinancingV1MerchantUrls": {
      "type": "object",
      "required": ["approvedRedirect", "rejectedRedirect"],
      "properties": {
        "approvedRedirect": {
          "type": "string",
          "description": "URL of the partner used for redirection of the customer back to partner website (from HCO gateway) after application approval."
        },
        "notificationEndpoint": {
          "type": "string",
          "description": "URL of the partner used as a notification endpoint for obtaining important updates about application (approval, rejection, storno, etc.)."
        },
        "rejectedRedirect": {
          "type": "string",
          "description": "URL of the partner used for redirection of the customer back to partner website (from HCO gateway) after application rejection."
        }
      },
      "title": "FinancingV1MerchantUrls"
    },
    "FinancingV1Order": {
      "type": "object",
      "required": ["items", "number", "state", "totalPrice"],
      "properties": {
        "deliveryDate": {
          "type": "string",
          "format": "date",
          "description": "date and time of delivery"
        },
        "deliveryTrackingNumber": {
          "type": "string",
          "description": "delivery tracking number"
        },
        "deliveryType": {
          "type": "string",
          "description": "delivery type, for `DELIVERY_CARRIER` type can be further specified by DeliveryCarrier attribute.Typ doruceni. Dopravcem, osobni prevzeti, online doruceni atd.",
          "enum": [
            "DELIVERY_CARRIER",
            "ONLINE",
            "PERSONAL_BRANCH",
            "PERSONAL_BRANCH_WITH_ASSISTANCE",
            "PERSONAL_PARTNER"
          ]
        },
        "items": {
          "type": "array",
          "description": "order items",
          "items": { "$ref": "#/definitions/FinancingV1OrderItem" }
        },
        "number": {
          "type": "string",
          "description": "order number (internal for e-shop)"
        },
        "reservationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time until order is reserved. After this date, e-shop does not guarantee items availability (if application processing is longer, it may endanger order fullfillment)."
        },
        "sentDate": {
          "type": "string",
          "format": "date",
          "description": "date and time of order shipping"
        },
        "state": {
          "type": "string",
          "description": "Order state",
          "enum": ["CANCELLED", "DELIVERED", "PROCESSING", "RETURNED", "SENT"]
        },
        "totalPrice": {
          "description": "total order amount, including VAT",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "variableSymbols": {
          "type": "array",
          "description": "variable symbols (internal for e-shop)",
          "items": { "type": "string" }
        }
      },
      "title": "FinancingV1Order"
    },
    "FinancingV1OrderChange": {
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "Addresses. Only `BILLING` and `DELIVERY` types are allowed.",
          "items": { "$ref": "#/definitions/FinancingV1Address" }
        },
        "deliveryCarrier": {
          "description": "delivery carrier, when applicable.",
          "$ref": "#/definitions/FinancingV1DeliveryCarrier"
        },
        "deliveryType": {
          "type": "string",
          "description": "delivery type, for `DELIVERY_CARRIER` type can be further specified by DeliveryCarrier attribute.Typ doruceni. Dopravcem, osobni prevzeti, online doruceni atd.",
          "enum": [
            "DELIVERY_CARRIER",
            "ONLINE",
            "PERSONAL_BRANCH",
            "PERSONAL_BRANCH_WITH_ASSISTANCE",
            "PERSONAL_PARTNER"
          ]
        },
        "documents": {
          "type": "array",
          "description": "attached documents (invoices etc.)",
          "items": { "$ref": "#/definitions/FinancingV1Document" }
        },
        "items": {
          "type": "array",
          "description": "order items",
          "items": {
            "$ref": "#/definitions/FinancingV1ApplicationRequestOrderItem"
          }
        },
        "number": {
          "type": "string",
          "description": "order number (internal for e-shop)"
        },
        "reservationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time until order is reserved. After this date, e-shop does not guarantee items availability (if application processing is longer, it may endanger order fullfillment)."
        },
        "totalPrice": {
          "description": "total order amount, including VAT",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "variableSymbols": {
          "type": "array",
          "description": "variable symbols (internal for e-shop)",
          "items": { "type": "string" }
        }
      },
      "title": "FinancingV1OrderChange"
    },
    "FinancingV1OrderChangeRequest": {
      "type": "object",
      "required": ["order"],
      "properties": {
        "order": {
          "description": "Changed order data",
          "$ref": "#/definitions/FinancingV1OrderChange"
        },
        "reason": { "type": "string", "description": "Reason of change" }
      },
      "title": "FinancingV1OrderChangeRequest"
    },
    "FinancingV1OrderExtended": {
      "type": "object",
      "required": ["applicationInfo", "items", "number", "state", "totalPrice"],
      "properties": {
        "applicationInfo": {
          "description": "base information about respective application",
          "$ref": "#/definitions/FinancingV1ApplicationBase"
        },
        "deliveryDate": {
          "type": "string",
          "format": "date",
          "description": "date and time of delivery"
        },
        "deliveryTrackingNumber": {
          "type": "string",
          "description": "delivery tracking number"
        },
        "deliveryType": {
          "type": "string",
          "description": "delivery type, for `DELIVERY_CARRIER` type can be further specified by DeliveryCarrier attribute.Typ doruceni. Dopravcem, osobni prevzeti, online doruceni atd.",
          "enum": [
            "DELIVERY_CARRIER",
            "ONLINE",
            "PERSONAL_BRANCH",
            "PERSONAL_BRANCH_WITH_ASSISTANCE",
            "PERSONAL_PARTNER"
          ]
        },
        "items": {
          "type": "array",
          "description": "order items",
          "items": { "$ref": "#/definitions/FinancingV1OrderItem" }
        },
        "number": {
          "type": "string",
          "description": "order number (internal for e-shop)"
        },
        "reservationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time until order is reserved. After this date, e-shop does not guarantee items availability (if application processing is longer, it may endanger order fullfillment)."
        },
        "sentDate": {
          "type": "string",
          "format": "date",
          "description": "date and time of order shipping"
        },
        "state": {
          "type": "string",
          "description": "Order state",
          "enum": ["CANCELLED", "DELIVERED", "PROCESSING", "RETURNED", "SENT"]
        },
        "totalPrice": {
          "description": "total order amount, including VAT",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "variableSymbols": {
          "type": "array",
          "description": "variable symbols (internal for e-shop)",
          "items": { "type": "string" }
        }
      },
      "title": "FinancingV1OrderExtended"
    },
    "FinancingV1OrderItem": {
      "type": "object",
      "required": ["name", "state", "totalPrice"],
      "properties": {
        "code": {
          "type": "string",
          "description": "internal code for item (internal to e-shop). Used to better identify the item for future changes",
          "minLength": 0,
          "maxLength": 100
        },
        "deliveryDate": {
          "type": "string",
          "format": "date",
          "description": "date when item was delivered. Only when the whole order was NOT sent at once."
        },
        "deliveryTrackingNumber": {
          "type": "string",
          "description": "Tracking number for the item. Only when the whole order was NOT sent at once."
        },
        "ean": {
          "type": "string",
          "description": "EAN code",
          "minLength": 0,
          "maxLength": 32
        },
        "image": {
          "description": "item image",
          "$ref": "#/definitions/FinancingFile"
        },
        "name": { "type": "string", "description": "item name" },
        "producer": { "type": "string" },
        "quantity": {
          "type": "integer",
          "format": "int64",
          "description": "Item quantity"
        },
        "sentDate": {
          "type": "string",
          "format": "date",
          "description": "date when item was sent. Only when the whole order was NOT sent at once."
        },
        "state": {
          "type": "string",
          "enum": ["CANCELLED", "DELIVERED", "PROCESSING", "RETURNED", "SENT"]
        },
        "totalPrice": {
          "description": "total price for all pieces, VAT inclusive",
          "$ref": "#/definitions/FinancingV1Amount"
        },
        "type": {
          "type": "string",
          "description": "item type",
          "enum": [
            "DIGITAL",
            "DISCOUNT",
            "FEE",
            "GIFT_CARD",
            "INSURANCE",
            "PHYSICAL",
            "SALES_TAX",
            "SHIPPING_FEE",
            "STORE_CREDIT"
          ]
        },
        "unitPrice": {
          "description": "Price per one piece",
          "$ref": "#/definitions/FinancingV1Amount"
        }
      },
      "title": "FinancingV1OrderItem"
    },
    "FinancingV1PrecheckRequest": {
      "type": "object",
      "properties": {
        "agreementPersonalDataProcessing": {
          "type": "boolean",
          "description": "flag indicating already approved personal data processing"
        },
        "customer": {
          "description": "Customer data",
          "$ref": "#/definitions/FinancingV1PrecheckRequestCustomer"
        },
        "order": {
          "description": "Order data",
          "$ref": "#/definitions/FinancingV1PrecheckRequestOrder"
        },
        "settingsInstallment": {
          "description": "Settings for INSTALLMENT Application type.",
          "$ref": "#/definitions/FinancingV1FinancingSettings"
        },
        "type": {
          "type": "string",
          "description": "Financing type",
          "enum": [
            "CONSUMER_LOAN",
            "GOODS_FINANCING",
            "INSTALLMENT",
            "OPERATING_LEASE"
          ]
        }
      },
      "title": "FinancingV1PrecheckRequest"
    },
    "FinancingV1PrecheckRequestCustomer": {
[...]
